<!doctype html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <div style="padding-top: 20px;">
            {{institutionHeader}}
        </div>
        <div style="padding-bottom: 100px; padding-top: 50px; padding-left: 30px;">
            <p>In atentia {{senderName}},</p>
            <p>Prin prezenta va informam ca la Registratura Primariei {{cityHall}} a fost inregistrat documentul {{docType}} sub numarul {{registrationNumber}}, {{registrationDate}}</p>
            <p>{{resolutionPeriodText}}</p>
        </div>
        <div>
            <p>Cu stima,</p>
            <p>Primaria {{cityHall}}</p>
            <p>Data: {{currentDate}}</p>
        </div>
        
    </body>
</html>